* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Tourney", cursive;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body {
  background-color: #023e8a;
}
#box .input {
  border: 2px solid rgba(165, 234, 247, 0.842);
  min-width: 100%;
  text-align: center;
  margin: 2%;
  padding: 4%;
  border-radius: 8px;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}
#login-signup {
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  padding: 10%;
  padding-bottom: 0%;
}
#box {
  position: relative;
  transform: translateY(10%);
  min-width: fit-content;
  background-color: rgb(235, 247, 247);
  border: 5px solid #168aad;
  border-radius: 15%;
  margin: 5%;
  padding: 64px;
}
.list {
  min-width: 120%;
  text-align: center;
  margin: 5%;
  padding: 5%;
  border: 2% solid #018383;
  border-radius: 8px;
  color: white;
}
#box #input {
  border: 2px solid rgba(165, 234, 247, 0.842);
  margin: 0%;
  color: #3f8a6c;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}
p {
  text-align: center;
  font-family: cursive;
  font-size: small;
}
#box #choose {
  background: #3f8a6c;
  font-size: larger;
}
#box #options-title {
  font-size: larger;
  background: #1bc2c2;
}

#box .exp {
  margin: 0.5%;
  padding: 3%;
  font-size: medium;
  background: #3f8a6c;
}
#box .exp:hover {
  background-color: rgb(167, 167, 167);
  cursor: pointer;
}
#game {
  flex-direction: column;
  display: none;
}
#game-box {
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  border: 10px solid #168aad;
  margin: 5%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 2px solid #000;
  max-width: 800px;
}
#game-box .card {
  height: 80px;
  width: 80px;
  margin: 2%;
  border-radius: 8px;
}
#game-box .card:hover {
  cursor: pointer;
  border: 2px solid skyblue;
}
#game-box .card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  /**uncoment below to remove cover by default **/
  /* opacity: 0%; */
}
#game #controls {
  flex-direction: row;
  padding-bottom: 5%;
}
.button,
#high-score {
  text-align: center;
  min-width: 100px;
  margin: 5px;
  padding: 10px;
  border: 2% solid #018383;
  border-radius: 8px;
  color: white;
  background: #3f8a6c;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(167, 167, 167);
  border: 2px solid rgb(167, 167, 167);
  margin: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
#high-score {
  margin: 15px;
  padding: 10px;
}
#match-end {
  position: absolute;
  transform: translateY(150%);
  border: 2px solid #168aad;
  border-radius: 15px;
  padding: 15px;
  background: orangered;
  color: #fff;
  display: none;
}
#match-end #game-over {
  font-size: 100px;
}
#match-end #high-score-msg {
  margin: 10px;
}

#match-end div {
  flex-direction: row;
}

@media (max-width: 600px) {
  #match-end #game-over {
    font-size: 50px;
  }
  .list {
    min-width: 110%;
  }
}

@media (max-width: 380px) {
  #box {
    padding: 18%;
  }
}
